@use '../../styles/main' as s;

.vmcrjc-dropdown.dropdown{
  display: inline-block;
  position: relative;

  ul {
    position: absolute;
    top: 100%;
    margin-top: 0.5em;
    margin-bottom: 0;
    padding: 0;
    box-shadow: var(--menu-box-shadow);
    border-radius: var(--medium-border-radius);
    border: 1px solid var(--component-border-color);
    min-width: 100%;
    overflow: hidden;
  }

  li {
    display: block;
    background-color: var(--component-bg);
    @include s.padding(s.$medium);

    &:hover {
      background-color: var(--menu-item-hover-color);
    }
  }
}
