:root {
  --medium-horizontal-padding: 1em;
  --medium-vertical-padding: 0.78571429em;
  
  --medium-border-radius: 0.28571429rem;

  // TODO: this is part of a theme
  --component-border-color: #d8d8d9;
  --menu-box-shadow: 0 2px 4px 0 var(--component-border-color), 0 2px 10px 0 var(--component-border-color);
  --menu-item-hover-color: #f2f2f2;
}

// Size names
$medium: medium;
$small: small;

@mixin padding($size) {
  $hp: var(--medium-horizontal-padding);
  $vp: var(--medium-vertical-padding);

  @if $size == $medium {
    padding: $vp $hp;
  } @else if $size == $small {
    padding: $vp*0.7 $hp*0.7
  }
}

@mixin fluid {
  width: 100%;
  display: block;
}

.fluid {
  @include fluid;
}

.underlined {
  text-decoration: underline;
}

// Display styles.
.d-none {
  display: none !important;
}
.d-flex {
  display: flex !important;
}

// flex styles
// justify content styles
$jc-sb: sb;
$jc-sa: sa;
$jc-c: c;

$jc-rules: $jc-sb, $jc-sa, $jc-c;

@mixin justify-content($type) {
  @extend .d-flex;

  @if $type == sb {
    justify-content: space-between !important;
  } @else if $type == sa{
    justify-content: space-around !important;
  } @else if $type == c {
    justify-content: center !important;
  }
}

@each $type in $jc-rules {
  .justify-content-#{$type} {
    @include justify-content($type);
  }
}

