// common variables:
:root {
  --font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size: 14px;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  box-sizing: border-box;
}

* {
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
}
