:root {
  --color-bg: #ffffff;
  --color-text: #000000;

  --color-primary: #2185d0;
  --color-text-primary: #ffffff;

  --color-secondary: #e0e1e2;
  --color-text-secondary: #686869;
}

// COLORS:
$primary-color: #e50914;
$primary-color-hover: #e50914;
$primary-color-active: #e50914;
$primary-color-focus: #e50914;

$secondary-color: #0d0805;
$secondary-color-hover: #0d0805;
$secondary-color-active: #0d0805;
$secondary-color-focus: #0d0805;

$default-color: #e0e1e2;
$default-color-hover: #cacbcd;
$default-color-active: #babbbc;
$default-color-focus: #cacbcd;
