@use '../../styles/main' as s;

.vmcrjc-navbar.navbar {
  @include s.justify-content(s.$sb);
  @include s.align-items(s.$c);
  padding: 1.5rem;
  background-color: var(--color-default);
  color: var(--color-text-default);
  
  .navbar {
    &__title-container {
      & > h2 {
        color: var(--color-text-default);
      }
      & > h2[data-logo="true"] {
        margin-left: 1rem;
      }

      @include s.align-items(s.$c);
    }

    &__actions {
      @include s.d-center;

      & > * {
        margin-left: 1.5rem;
      }
    }

    &__overflow {
      font-size: 1.5rem;
    }
  }
}
