@use '../../styles/main' as s;

.vmcrjc-navbar.navbar {
  @include s.justify-content(s.$sb);
  @include s.align-items(s.$c);
  padding: 1.5rem;
  background-color: var(--color-default);
  
  h2 {
    color: var(--color-text-default);
  }

  .navbar {
    &__actions {
      @include s.d-center;

      & > * {
        margin-left: 1.5rem;
      }
    }
  }
}
