@use '../styles' as s;

.button {
  font-weight: 700;
  border: 0;
  font-family: var(--font-family);
  border-radius: 0.28571429rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  padding: 0.78571429em 1.5em 0.78571429em;
}
.button--primary {
  color: var(--color-text-primary);
  background-color: var(--color-primary);
}
.button--secondary {
  color: var(--color-text-secondary);
  background-color: var(--color-secondary);
  // box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.button--small {
  font-size: 0.85714286rem;
}
.button--medium {
  font-size: 1rem;
}
.button--large {
  font-size: 1.14285714rem;
}
